# Dependencies
/vendor/
/node_modules/

# PHP tools
/.phpstan.cache/
/.phpunit.cache/

# Environment
.env
.env.*
!.env.example

# Logs
*.log

# Sass
*.css.map
/public/styles/

# IDE
.idea/
.vscode/

# OS
.DS_Store
Thumbs.db