parameters:
    level: 8
    paths:
        - App
        - Core
        - Router
        - public
        - templates
        - tests
    treatPhpDocTypesAsCertain: false
    reportUnmatchedIgnoredErrors: true